*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}



header{
    width: 100%;
    display: flex;
    height: 50px; 
    position: fixed;
    background-color: white;
}

main{
    padding-top: 50px;
}

img{
    width: 100%;
}

.logo-small{
    width: 80%;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    height: calc(100vh - 50px);
    width: 10%;
}

.font-size-10{
    font-size: 10px;
}

.font-size-8{
    font-size: 8px;
}

.width-100{
    width: 100%;
}

.width-80{
    width: 100%;
   
}


.width-50px{
    width: 300px;
}

.overflow-tab{
    overflow-y: auto;
    height: 150px;
}

.overflow-main{
    overflow-y: auto;
}

.button-tab{
    padding: 2px 5px;
    border: solid gray 1px ;
    border-radius: 20%;
}

ul{
    list-style: none;
    font-weight: bold;
    color: white;
    padding-left: 2px;
}

li{
    padding: 10px 0;
}

.container-d{
width: 90%;
height: calc(100vh - 50px);
}

.container-main{
    display: flex;
}

.content{
    height: 80px;
    border: solid 3px black;
}

.bg-1B72E8{
    background-color: #1B72E8;
}

.bg-label{
    background-color: #165BBA;
}

