*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    height: 50px; 
    position: fixed;
    background-color: white;
}

main{
    padding-top: 50px;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
    height: calc(100vh - 50px);
    width: 150px;
}

.container-d{
    width: calc(100vw - 100px);
    height: calc(100vh - 50px);
}
    
.container-main{
        display: flex;
}
  
img{
    width: 100%;
}

.logo{
    width: 150px;
    margin-left: 10px;
}

.logo-small{
    width: 40px;
    margin-left: 0;
}


.font-size-10{
    font-size: 10px;
}

.width-100{
    width: 100%;
}

.width-90{
    width: 89%;
}

.width-50px{
    width: 50%;
}

.overflow-tab{
    overflow-y: auto;
    height: 300px;
}

.overflow-main{
    overflow-y: auto;
}

.button-tab{
    padding: 2px 5px;
    border: solid gray 1px ;
    border-radius: 20%;
}

ul{
    list-style: none;
    font-weight: bold;
    color: white;
}

li{
    padding: 10px 15px;
    
}

.bg-1B72E8{
    background-color: #1B72E8;
}

.bg-label{
    background-color: #165BBA;
}

.bg-red{
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}

.sidebar li:hover, .sidebar .admin:hover{
    background-color: rgba(128, 128, 128, 0.433);
}

@media screen and ( max-width: 992px){
    .sidebar{
        width: 50px;
        padding-left: 15px;
    }

    .container-d{
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
    }
}